@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    font-family: "Montserrat", sans-serif;
    background-color: blue;
    margin: 15px 0px;
    color: white;
    display: flex;
    padding: 30px;
    align-items: center;
    border-radius: 10px;
}

.esquerda{
padding-right: 30px;
}

.direita{

}